/*The color for the webpage */


/*========================Main title and starting page=================================*/

.titles  {
    color: blue;
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
}

/* Login info styling */
.log-In {
    text-align: center;
    color: blue;
}

/* Note that "b" means button */

.b {
    width: 400px;
    height: 40px;
    font-size: 20px;
    display: inline-block;
    line-height: 40px;       /* Vertically centers text inside height */
    text-align: center;      /* Horizontally centers text */
    background-color: white;  /* Button color */
    color: black;            /* Text color */
    text-decoration: none;   /* Remove underline */
    border: 1px solid black;
}


.b:hover , .grid-item:hover , #guestButton:hover {
    background-color: blue;
}


/* dark-blue  */
body {
   
    background-color:  #0A0F1F;
    font-family: Arial, sans-serif;
}



/*====================For signing in and aka (create new account)=================================*/
.details {
    color: white;
    
}


/*========================Dashboard=================================*/

.dashboard-background {

    background-image: url('back-ground-color.PNG');
    background-size: cover;
}


 .heading, .sub-heading {
    color: lightblue;
    font-size: 30px;
    
}

.sub-heading {
    text-align: center;

    
}

/* for the dashboard back-ground */

/* for the grid */
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 120px;   /* creating spacing on the left */

    
}

 /* Button styling */
 .grid-item {
  /*
    width: 250px; /* up to down */
    height: 130px;
    font-size: 20px;

    /*
    display: inline-block;
    */
    
    line-height: 40px;       /* Vertically centers text inside height */
    text-align: center;      /* Horizontally centers text */
    background-color:  transparent;  /* Button color */
    color: white;            /* Text color */
    text-decoration: none;   /* Remove underline */
    border: 1px solid lightblue;

}

/*========================PLANNER=================================*/

.planner-background {
    background-image: url('back-ground-color.PNG');
    background-size: cover;
}



