/*The color for the webpage */

/* Main title styling and second title    */
.titles  {
    color: blue;
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
}

/* Login info styling */
.log-In {
    text-align: center;
    color: blue;
}

/* Note that "b" means button */

.b {
    width: 400px;
    height: 40px;
    font-size: 20px;
    display: inline-block;
    line-height: 40px;       /* Vertically centers text inside height */
    text-align: center;      /* Horizontally centers text */
    background-color: white;  /* Button color */
    color: black;            /* Text color */
    text-decoration: none;   /* Remove underline */
    cursor: pointer;
       border: 1px solid black;
}


.b:hover , .grid-item:hover , #guestButton:hover {
    background-color: blue;
}


/* dark-blue  */
body {
    background-color:  #0A0F1F;
    font-family: Arial, sans-serif;
}

/* for the sign in page aka (Create new account) */

.details {
    color: white;
    
}

/*buttons for the armor */

.board {

    width: 400px;
    height: 40px;

}

/* Note for this is for the dash board */
.heading {
    color: blue;
}

/* for the dashboard back-ground */

/* for the grid */

.container {
   
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1E2A47;  /* navy blue */
    padding: 200px;
    
}

 /* Button styling */
.grid-item  {
    position: relative;
    height: 100px;
    font-size: 30px;
    color: black;
    border: solid 2px #0A0F1F;

}



/* time table for a planer */
